html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif
}

button {
  font-family: "Poppins", sans-serif
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#chat-window::-webkit-scrollbar {
  display: none;
}